
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>
    <center>Manav Delvadiya</center>
    <center>24010101056</center>
    <center>Roll No. - 333</center>
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World")

Hello World

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [ ]:
name = input("Enter a Name :")
print(f"Hello {name}, welcome to Python Lab")

Hello Manav, welcome to Python Lab

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [7]:
# a,b,c = int(intput("Enter a Three Number"));
# Error
a = int(input("Enter a n1 :"));
b = int(input("Enter a n2 :"));
c = int(input("Enter a n3 :"));

print(f"Numbers: {a} {b} {c}")
print(f"Sum:{a+b+c}")
print(f"Average:{(a+b+c)/3}");

Enter a n1 : 10
Enter a n2 : 20
Enter a n3 : 30

Numbers: 10 20 30
Sum:60
Average:20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [9]:
name = str(input("Enter a Name :"));
age = int(input("Enetr a Age :"));
percentage = float(input("ENetr a Percentage :"));

print(f"Name : {name}",f"Type: {type(name)}")
print(f"Age : {age}",f"Type: {type(age)}")
print(f"Percentage : {percentage}",f"Type: {type(percentage)}");

Enter a Name : Riya
Enetr a Age : 18
ENetr a Percentage : 92.5

Name : Riya Type: <class 'str'>
Age : 18 Type: <class 'int'>
Percentage : 92.5 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [17]:
print("Python","Programming","Basic",sep=" | ",end="###")

Python | Programming | Basic###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [19]:
var = input("Enter a Word : ");
print(f"Value:{var}");
print(f"Type:{type(var)}");
print(f"ID:{id(var)}");

Enter a Word :  hello

Value:hello
Type:<class 'str'>
ID:2570389449360

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [24]:
var = 10;
print(f"Value:{var}");
print(f"Type:{type(var)}");
print(f"Original ID of a:{id(var)}");
var = 20;
print(f"New ID of a:{id(var)}");
var = 10;
print(f"Helllllll ID of a:{id(var)}");

Value:10
Type:<class 'int'>
Original ID of a:140719354131656
New ID of a:140719354131976
Helllllll ID of a:140719354131656

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [29]:
print("""
Welcome to Python
This is the second lab
Enjoy coding!  
""");

Welcome to Python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [43]:
print(f" {'Sr No':^10}  {'name':>10}  {'subject':>10}  {'Grade':>10}  {'percentage':>10}")
print(f" {'1':>10}  {'Nisha Patel':>10}  {'Math':>10}  {'A':>9}  {'92':>10}")
print(f" {'2':>10}  {'Aarav Modi':>11}  {'Science':>10}  {'B+':>10}  {'85':>9}")
print(f" {'3':>10}  {'Jiya Shah':>10}  {'English':>11}  {'A+':>10}  {'96':>9}")

   Sr No           name     subject       Grade  percentage
          1  Nisha Patel        Math          A          92
          2   Aarav Modi     Science          B+         85
          3   Jiya Shah      English          A+         96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [31]:
num = float(input("Enter a Number :"));
print(f"2 decimals:{num:.2f}");
print(f"3 decimals:{num:.3f}");
print(f"Width 10:{num:10.2f}");

Enter a Number : 37.2567

2 decimals:37.26
3 decimals:37.257
Width 10:     37.26

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [44]:
n1 = int(input("Enter a n1 :"));
n2 = int(input("Enter a n2 :"));
print(f"Sum = {n1+n2}");
print(f"Diffreance = {n1-n2}");
print(f"Product = {n1*n2}");

Enter a n1 : 12
Enter a n2 : 8

Sum = 20
Diffreance = 4
Product = 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [47]:
date = input("Enter a Date (dd mm yyyy) :");
[dd,mm,yyyy] = date.split(" ");

print(dd,mm,yyyy,sep="/");
print(yyyy,mm,dd,sep="-");

Enter a Date (dd mm yyyy) : 01 12 2025

01/12/2025
2025-12-01

### 13) WAP to calculate area and perimeter of a circle.

In [53]:
import math

r = float(input("Enter a radius :"))
perimeter = 2 * math.pi * r;
area = math.pi * r * r;
print(f"perimeter = {perimeter}")
print(f"Area = {area}");

Enter a radius : 5

perimeter = 31.41592653589793
Area = 78.53981633974483

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [55]:
deg = float(input("Enter a Degree :"));
fah = float(input("Enter a Fahrenhit : "));

degToFah = (deg * 1.8) + 32;
fahToDeg = (fah - 32)/1.8;

print(f"degToFah : {degToFah}");
print(f"fahToDeg : {fahToDeg}");

Enter a Degree : 5
Enter a Fahrenhit :  41

degToFah : 41.0
fahToDeg : 5.0

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [56]:
distKm = int(input("Enter a Distance in Kilometer : "));

meter = (distKm) * 1000;
feet = (distKm) *3280.84;
inch = (distKm) * 39370.1;
centimeter = (distKm) * 100000;

print(f"{distKm} KM = {meter} Meter")
print(f"{distKm} KM = {feet} Feet")
print(f"{distKm} KM = {inch} Inches")
print(f"{distKm} KM = {centimeter} Centimeter");

Enter a Distance in Kilometer :  5

5 KM = 5000 Meter
5 KM = 16404.2 Feet
5 KM = 196850.5 Inches
5 KM = 500000 Centimeter